# Github credentials for onPut and onDelete
GITHUB_PERSONAL_ACCESS_TOKEN=

# Required when building locally
GITHUB_OWNER=
GITHUB_REPO=
GITHUB_BRANCH=


#Required for analytics to know if is production or development modes
NEXT_PUBLIC_VERCEL_ENV=


# Used by NextAuth.js to encrypt JWT
NEXTAUTH_URL=
NEXTAUTH_SECRET=

# Used by Vercel KV
KV_REST_API_READ_ONLY_TOKEN=
KV_URL=
KV_REST_API_URL=
KV_REST_API_TOKEN=

# Used by Mongo DB Atlas

MONGODB_URI=

# False if not local
TINA_PUBLIC_IS_LOCAL=

#Google Maps API
NEXT_PUBLIC_GOOGLE_MAPS_API_TOKEN=

#Amazon Simple Email Services (SES)
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
ADMIN_SEND_EMAIL=
ADMIN_RECEIVE_EMAIL=

#Amazon S3
S3_REGION=
S3_BUCKET=
S3_ACCESS_KEY=
S3_SECRET_KEY=

#Google Analytics
GA_MEASUREMENT_ID=
NEXT_PUBLIC_GTM=

#Vercel URL
VERCEL_URL=

#ADMIN Verify Token
ADMIN_VERIFY_TOKEN=

